<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303932271291-fmkkd6d92qeldo9d6onnfkfh8nq3vp65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303932271291-fmkkd6d92qeldo9d6onnfkfh8nq3vp65</string>
	<key>API_KEY</key>
	<string>AIzaSyBiBq9pCjZwwT9n2GdOKKtIm6PDP1caFlE</string>
	<key>GCM_SENDER_ID</key>
	<string>303932271291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-user-jcmalahito</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-user-jcmalahito.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303932271291:ios:fcbc6ea5828c6c91e4979e</string>
</dict>
</plist>